
- @page_title=t(:'.page_title')

- form_tag session_path do

  %fieldset
    %legend= t(:'.use_openid')

    %p
      = label_tag :openid_identifier
      = text_field_tag :openid_identifier
  %fieldset
    %legend= t(:'.use_login')
    %p
      = label_tag 'login'
      = text_field_tag 'login', @login

    %p
      = label_tag 'password'
      = password_field_tag 'password', nil

    %p.checkbox
      = check_box_tag 'remember_me', '1', @remember_me 
      = label_tag 'remember_me', 'Remember me'

  %p.submit
    = submit_tag 'Log in'
