- @page_title = t(:'.page_title', :name => current_object.name, :user => current_object.user.login)

%h2= t(:'.statistics')
%ul
  %li.food_stock= t(:'.food_stock', :count => current_object.food_stock)
  %li.building_count= t(:'.building_count', :count => current_object.building_count)
  %li.max_nursing= t(:'.max_nursing', :max => current_object.max_nursing)


%h2= t(:'.queen')
- if current_object.queens.empty?
  %p= t(:'.queen_missing')
  = link_to t(:'.plant_queen'), new_anthill_ant_path(current_object, :type => :queen)
- else
  = render :partial => 'ants/queen', :collection => current_object.queens

  %h2= t(:'.ants')
  #workers
    %h3= t(:'.workers')
    = render :partial => 'workers'

- content_for :info do
  %p= t(:'.info')