- if logged_in?
  %li
    Logged in as
    = link_to_current_user :content_method => :login
  %li= link_to "Log out", logout_path, { :title => "Log out" }
- else
  %li= link_to_login_with_IP 'Not logged in', :style => 'border: none;'
  %li= link_to "Log in",  login_path,  { :title => "Log in" }
  %li= link_to "Sign up", signup_path, { :title => "Create an account" }
