!!!
%html
%head
  %title= title_meta
  = javascript_include_tag :all, :cache => true
  = javascript_tag 'jQuery.noConflict();'
  = stylesheet_link_tag %w(layout forms maps), :cache => true

%body
  #header
    #app_title= link_to t(:'app.title'), root_url
    
    - if !page_title.blank?
      %h1= page_title

  #content
    = yield
  
  %ul#navigation
    = render :partial => 'shared/navigation'
    = render :partial => 'users/user_bar'
    = yield :sub_navigation
  #footer
    (C) 2009 by
    = link_to 'antga.me', root_url
    written by Peter Krenn and Thomas R. Koll during
    =link_to 'railsrumble 2009', 'http://r09.railsrumble.com'
    Read our
    = link_to 'blog', 'http://blog.antga.me'