!!!
%html
%head
  %title= title_meta
  = javascript_include_tag :all, :cache => true
  = javascript_tag 'jQuery.noConflict();'

%body
  #header
    #app_title= t(:'app.title')
    - if !page_title.blank?
      %h1= page_title

  #content
    = yield
  
  %ul#navigation
    = render :partial => 'shared/navigation'
    = render :partial => 'users/user_bar'
    = yield :sub_navigation
  #footer
    (C) 2009 by
    = link_to 'antga.me', root_url
    written by Peter Krenn and Thomas R. Koll during railsrumble 2009
